*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background: #111; 
}
.navbar{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    margin: 0 auto;
}
.navbar img{
    width: 80px;
    margin: 6px;
}
.navbar ul li{
    display: inline-block;
    margin: 0 16px;
    font-size: 16px;
    font-weight: 500;
}
.navbar ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
.navbar ul li a:hover{
    background:fixed;
    color: #0eee557d;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto 16px;
}
.text{
    color: #fff;
    width: 40%;
    margin: 20px;
}
.text h2{
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom:6px ;
    letter-spacing: 1px;
}
.text p{
    line-height:20px ;
    letter-spacing: 1px;
}
.text button{
    margin: 10px;
    border-radius: 16px;
}
.image{
    width: 40%;
}
.image img{
    width: 400px;
}
